body {
  margin: 0;
  background-color: #54AD91;
}

.awards {
  display: none;
}

.whole-page {
  background-color: #54AD91;
  display: flex;
  flex-direction: column;
  color: #40190B;
}

.img-carousel {
  /* border: 2px #666666 solid; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 10px auto;
}

.images img {
  display: none;
  max-width: 451.19px;
  max-height: 400px;
  margin-left: 1em;
  margin-right: 1em;
}

.images img:first-of-type {
  display: block;
  object-fit: contain;
  width: auto;
  height: auto;
}


.carousel-btn {
  align-self: center;
  text-align: center;
  padding: 10px;
  background-color: #40190B;
  color: #54AD91;
  border: 1px solid #666666;

}

.carousel-btn:active {
  transform: translateY(5px);
}

.column {
  /* border: 2px green solid; */
  width: 80%;
  margin: 0 auto;
  background-color: #666666;
}

.bio {
  text-align: center;
  background-color: #666666;
  margin: 0;
}

.bio > h1 {
  color: #E6E6E6;
}

.bio > h2 {
  color: #54AD91;
}

.bio > p {
  color: #E6E6E6;
}

.famous-movies {

  display: flex;
  flex-direction: column;
}

.famous-movies > h1 {
  text-align: center;
}

.movie-info {
  display: flex;
  border: 2px solid #666666;
  border-radius: 10px;
  flex-direction: column;
  justify-content: space-around;
  margin: 2em 1em;
}

.title {
  margin-top: -1em;
  margin-left: 0.75em;
}


.years {
  width: 70%;
  margin: 0 auto;
  align-self: center;
  justify-content: space-between;
  text-align: center;
}

.years > button {
  padding: 20px;
  box-shadow: 5px 5px 5px;
  margin: 10px;
  background-color: #E24F19;
  border: 1px solid #666666;
}

/* SETTINGS FOR DESTOP VERSION */

@media (min-width: 600px) {
  body {
    margin: 0;
    background-color: #E6E6E6;
  }

  .whole-page {
    background-color: #E6E6E6;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }

  .right-side {
    width: 75%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    /* margin-top: 2em; */
  }

  .img-carousel {
    /* border: 2px #666666 solid; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 4em auto;
  }

  .images img {
    display: none;
    min-width: 400px;
    min-height: 300px;
    max-width: 800px;
    max-height: 600px;
    margin-left: 1em;
    margin-right: 1em;
  }

  hr {
    width: 90%;
    border: 2px #54AD91 solid;
    border-radius: 20px;
    height: 5px;
    background-color: #E24F19;
  }

  .years > button {
      margin: 20px;
      font-weight: bold;
      font-size: 1em;
      padding: 30px;
      background-color: #54AD91;
  }

  .column {
    border: 5px #40190B solid;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 25%;
    background-color: #E24F19;
    margin-top: 1em;
    margin-left: 1em;
  }

  .bio {
    background-color: #E24F19;
  }

  .bio > h2 {
    color: #14B884;
  }

  .bio > p {
    color: #40190B;
  }

  .awards {
    display: block;
  }

  .awards > h1 {
    color: #E6E6E6;
    text-align: center;
  }

  .awards > ul {
    /* list-style: none; */
    line-height: 2em;
    /* padding-left: 20px; */
  }

}
