
.awards {
  display: none;
}

.whole-page {
  border: 2px green solid;
  background-color: #54AD91;
  display: flex;
  flex-direction: column;
  color: #40190B;
}

.img-carousel {
  /* border: 2px #666666 solid; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 10px auto;
}

.images img {
  width: 100%;
  display: none;
}

.images img:first-of-type {
  display: block
}

.carousel-btn {
  align-self: center;
  text-align: center;
  padding: 10px;
  background-color: #40190B;
  color: #54AD91;
  border: 1px solid #666666;

}

.carousel-btn:active {
  transform: translateY(5px);
}

.column {
  /* border: 2px green solid; */
  width: 80%;
  margin: 0 auto;
  background-color: #666666;
}

.bio {
  text-align: center;
  background-color: #666666;
  margin: 0;
}

.bio > h1 {
  color: #E6E6E6;
}

.bio > h2 {
  color: #54AD91;
}

.bio > p {
  color: #E6E6E6;
}

.famous-movies {
  
  display: flex;
  flex-direction: column;
}

.famous-movies > h1 {
  text-align: center;
}

.years {
  width: 70%;
  margin: 0 auto;
  align-self: center;
  justify-content: space-between;
  text-align: center;
}

.years > button {
  padding: 20px;
  box-shadow: 5px 5px 5px;
  margin: 10px;
  background-color: #E24F19;
  border: 1px solid #666666;
}

@media (min-width: 600px) {
  .whole-page {
    border: 2px green solid;
    background-color: #A3A3A3;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }

  .right-side {
    width: 75%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .column {
    border: 2px green solid;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 20%;
  }

  .bio {
  }

  .awards {
    display: block;
    border: 2px green solid;
  }

  .years > button {
      margin: 40px;
  }
}
