body {
  margin: 0;
  background-color: #54AD91;
}

.awards {
  display: none;
}

.whole-page {
  background-color: #54AD91;
  display: flex;
  flex-direction: column;
  color: #40190B;
}

.img-carousel {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 10px auto;
}

.images img {
  display: none;
  max-width: 451.19px;
  max-height: 400px;
  margin-left: 1em;
  margin-right: 1em;
}

.images img:first-of-type {
  display: block;
  object-fit: contain;
  width: auto;
  height: auto;
}

.carousel-btn {
  align-self: center;
  text-align: center;
  padding: 10px;
  background-color: #40190B;
  color: #54AD91;
  border: 1px solid #666666;
  font-size: 1em;
}

.carousel-btn:active {
  transform: translateY(5px);
}

.column {
  width: 80%;
  margin: 0 auto;
  background-color: #666666;
}

.bio {
  text-align: center;
  background-color: #666666;
  margin: 0;
}

.bio > h1 {
  color: #E6E6E6;
  font-family: 'Pacifico', cursive;
  font-size: 2.5em;
}

.bio > h2 {
  color: #E24F19;
  font-family: 'Satisfy', cursive;
  font-size: 2em;
}

.bio > p {
  color: #E6E6E6;
  font-family: 'Acme', sans-serif;
  font-size: 1.25em;
}

.famous-movies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.famous-movies > h1 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.famous-movies > h2 {
  font-family: 'Montserrat', sans-serif;
}

.movie-info {
  border: 2px solid #666666;
  border-radius: 10px;
  background-color: #FFA585;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2em 1em;
}

.title {
  margin-top: -1em;
  margin-left: 0.75em;
  align-self: flex-start;
  font-family: 'Acme', sans-serif;
  font-size: 1.2em;
}

.plot {
  width: 90%;
  margin: .5em;
  font-family: 'Kreon', serif;
  font-size: 1em;
}

.director {
  width: 90%;
  margin: .5em;
  font-family: 'Acme', sans-serif;
  font-size: 1em;
}

.stars {
  width: 90%;
  margin: .5em;
  font-family: 'Kreon', serif;
  font-size: 1em;
}

.years {
  width: 70%;
  margin: 0 auto;
  align-self: center;
  justify-content: space-between;
  text-align: center;
}

.years > button {
  padding: 20px;
  box-shadow: 5px 5px 5px;
  margin: 10px;
  background-color: #E24F19;
  border: 1px solid #666666;
  font-family: 'Acme', sans-serif;
  font-size: .9em;
  color: #40190B;
}

hr {
  visibility: hidden;
}

.play {
  display: inline-block;
  background-color: #666666;
  color: white;
  padding: 1em;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 1em;
}

.play:active {
  transform: rotateY(36deg);
}

.quiz {
  display: none;
  width: 90%;
  justify-content: space-around;
  border: 2px #E24F19 solid;
  margin: 1.5em;
  background: linear-gradient(to bottom right, #a9d6c7 0%, #eef7f4 100%);
}

.questionaire {
  font-family: 'Acme', sans-serif;
  font-size: 1.25em;
  margin-left: 1em;
  margin-right: 1em;
}

.qbtn {
  background-color: #40190B;
  border: 1px #666666 inset;
  color: white;
  font-family: 'Satisfy', cursive;
  font-size: 1em;
  margin: 0.5em;
}

.qbtn:hover {
  background-color: #E24F19;
}

.final-score {
  display: flex;
  align-items: flex-start;
}

.pull-results {
  background-color: #666666;
  color: white;
  padding: 1em;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  margin: 1em;
}

.pull-results:active {
  transform: rotateY(36deg);
}

.score {
  background-color: #E24F19;
  color: #40190B;
  padding: 1em 2em;;
  border: 2px #40190B double;
  font-family: 'Montserrat', sans-serif;
  margin: 1em;
}

.restart {
  background-color: #666666;
  color: white;
  padding: 1em;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  margin: 1em;
}

.restart:active {
  transform: rotateZ(36deg);
}

/* SETTINGS FOR DESTOP VERSION */

@media (min-width: 600px) {
  body {
    margin: 0;
    background-color: #E6E6E6;
  }

  .whole-page {
    background-color: #E6E6E6;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }

  .right-side {
    width: 75%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .img-carousel {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 4em auto;
  }

  .images img {
    display: none;
    min-width: 400px;
    min-height: 300px;
    max-width: 800px;
    max-height: 600px;
    margin-left: 1em;
    margin-right: 1em;
  }

  .famous-movies > h1 {
    font-size: 2.25em;
  }

  hr {
    visibility: visible;
    width: 90%;
    border: 2px #54AD91 solid;
    border-radius: 20px;
    height: 5px;
    background-color: #E24F19;
  }

  .movie-info {
    border: 2px solid #666666;
    border-radius: 10px;
    background-color: #FFA585;
    margin: 2em 1em;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 90%;
  }

  .title {
    width: 20%;
    margin: 0.5em;
    font-family: 'Acme', sans-serif;
    font-size: 1.5em;
  }

  .plot {
    width: 35%;
    margin: .5em;
    font-family: 'Kreon', serif;
    font-size: 1.25em;
  }

  .director {
    width: 20%;
    margin: .5em;
    font-family: 'Acme', sans-serif;
    font-size: 1.5em;
  }

  .stars {
    width: 25%;
    margin: .5em;
    font-family: 'Kreon', serif;
    font-size: 1.25em;
  }

  .years > button {
      margin: 20px;
      font-weight: bold;
      font-size: 1em;
      padding: 30px;
      background-color: #54AD91;
  }

  .quiz {
    border: 1px #40190B dotted;
    margin: 1em;
    background: linear-gradient(to bottom, #54ad91 20%, #a9d6c7 100%);
  }

  .column {
    border: 5px #40190B solid;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 25%;
    background-color: #E24F19;
    margin-top: 1em;
    margin-left: 1em;
  }

  .bio {
    background-color: #E24F19;
  }

  .bio > h2 {
    color: #54AD91;
  }

  .bio > p {
    color: #40190B;
  }

  .awards {
    display: block;
  }

  .awards > h1 {
    color: #E6E6E6;
    text-align: center;
    font-family: 'Satisfy', cursive;
    font-size: 2.5em;
  }

  .awards > ul {
    list-style: none;
    padding-left: 20px;
    line-height: 2em;
    font-family: 'Merienda', cursive;
    font-size: 1.05em;
  }

}
