@import url('https://fonts.googleapis.com/css?family=Coiny|Indie+Flower');
body {
  background-color: #66ccff;
  color: black;
  font-family: "Indie Flower", serif;
}

h1 {
  color: red;
  font-size: 50px;
  text-align: center;
  font-family: "Coiny", serif;
}

h3 {
  text-decoration: underline;
  font-size: 20px;
  font-family: "Indie Flower", serif;
}
.outsideUS {
  font-style: bold;
  color: #9900cc;
}
